body {
	background-color: aliceblue;
}

h2 {
	font-size: 120%;
	margin-bottom: 50px;
}

p {
	text-align: center;
	margin: 200px;
	margin-top: -40px;
}

.gambar1 {
	margin-bottom: 20px;
}

.katalog {
	text-align: center;
	margin-top: -90px;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
	font-size: 100%;
}

.tblpnjln {
	margin: 20px;
}

th, {
	text-align: center;
}


